[submodule "3rdparty/tinyusb"]
	path = 3rdparty/tinyusb
	url = https://github.com/liamfraser/tinyusb.git
[submodule "3rdparty/Pico-PIO-USB"]
	path = 3rdparty/Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB.git
[submodule "3rdparty/pico-sdk"]
	path = 3rdparty/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
        # Initializing tinyusb creates untracked files
        ignore = untracked
[submodule "3rdparty/pico-extras"]
	path = 3rdparty/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
[submodule "3rdparty/tusb_xinput"]
	path = 3rdparty/tusb_xinput
	url = https://github.com/fhoedemakers/tusb_xinput.git
